<div class="w3-container l6 login">
    <div class="w3-padding w3-display-middle w3-border w3-border-blue l6 login">

        <div class="w3-cell-row w3-padding">
            <div class="w3-cell w3-padding l3">
                <fb></fb>
            </div>
            <div class="w3-cell w3-padding l3">
                <span class="w3-padding w3-leftbar w3-border-lightgrey text-super">
                    <button class="w3-btn sapient-blue w3-xlarge w3-border sapient-blue w3-round-large" (click)="login()">Continue as guest</button>
                </span>
            </div>
        </div>
    </div>
</div>
