<header class="sapient-blue full-width text-center w3-border">

    <div class="w3-padding w3-cell-row">
        <h1>
            Context Search
        </h1>
        <div class="w3-left header-logo">
            <a href="/"><i class="material-icons w3-xxxlarge w3-text-white">home</i></a>
        </div>

        <div class="w3-right header-logo">
            <span class="text-super w3-large">{{user.name}} <img src="{{user.profileImage}}"></span>
        </div>
    </div>

</header>
<section>
    <router-outlet></router-outlet>
</section>
