<div class="w3-section">
    <div class="w3-third w3-padding">
        <div class="w3-border">
            <search-form [parentComponent]="parent" [cleanUp]="searchCleanUP"></search-form>
        </div>
    </div>

    <div class="w3-rest w3-padding" *ngIf="searchResult">
        <div class="w3-border">
            <div class="w3-padding">

                <travel-context *ngIf="searchResult.TravelContext"
                                [contextData]="searchResult.TravelContext"
                                [geoLocation]="geoLocation"></travel-context>

                <search-context *ngIf="searchResult.OccupancyContext"
                                [contextData]="searchResult.OccupancyContext"></search-context>

                <user-context *ngIf="searchResult.userContext"
                              [contextData]="searchResult.userContext"></user-context>

                <div *ngIf="!searchResult && !isSearchInProgress">
                    <div class="w3-container">No search results.</div>
                </div>
            </div>
        </div>
    </div>
</div>