<div class="w3-padding">
    <div class="w3-row-padding w3-border">
        <div class="w3-container sapient-grey w3-border">
            <h2>
                <i class="material-icons sapient-text-blue w3-xxxlarge">search</i>
                <span class="text-super">Occupancy Context</span>
            </h2>
        </div>

        <div class="w3-row">
            <div class="w3-col l4 w3-section w3-padding" *ngFor="let searchContext of contextData">
                <div class="w3-card">
                    <div class="w3-large w3-padding full-width text-center">
                        {{searchContext.occupancyType.charAt(0)}}<span class="text-lowercase">{{getTitle(searchContext.occupancyType).substring(1)}}</span>
                    </div>

                    <div class="w3-cell ">
                        <div class="w3-padding">
                            <i class="material-icons w3-jumbo w3-text-blue">{{getTripLogo(searchContext.occupancyType)}}</i>
                            <i class="material-icons w3-xlarge">arrow_forward</i>
                            <span class="text-super">Match <span class="w3-badge w3-yellow">{{searchContext.matchPercentage}}%</span> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>